{% extends 'core/base.html' %}

{% block title %} EV | Detail {% endblock title %}

{% block container %}
<div class="container w-75">
    <form method="post">
        {% csrf_token %}

      <div class="form-row">
            <div class="row mx-auto">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    {{ form.name }}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Manufacturer</label>
                    {{ form.manufacturer }}
                </div>
            </div>
        </div>    
            
        <div class="form-row mt-3">
            <div class="row mx-auto">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Battery Size</label>
                    {{ form.battery_size }}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">WLTP Range</label>
                    {{ form.wltp_range }}
                </div>
            </div>
        </div>   
        
        <div class="form-row mt-3">
            <div class="row mx-auto">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Cost</label>
                    {{ form.cost }}
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Power</label>
                    {{ form.power }}
                </div>
            </div>
        </div>   
    
        <div class="d-flex justify-content-end mt-3">
            <button type="submit" class="btn btn-success btn-md mr-3">Save</button>
            <a href="{% url 'ev_delete' id=ev.id %}" class="btn btn-danger btn-md">Delete</a>
        </div>
    </form>

    <div class="text-center mt-5">
        <h2 class="mb-5">Reviews</h2>
        {% for review in reviews %}
            <div class="w-75 mx-auto rounded" style="background: whitesmoke; padding:1rem;">
                <strong><p>{{ review.user }}</p></strong>
                <p>{{ review.review_text }}</p>
                <strong><p>Rating: {{ review.rating }}</p></strong>
            </div>    
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        <h2 class="text-center">Submit a Review</h2>
        <div class="w-75 mx-auto rounded" style="background: whitesmoke; padding:1.6rem;">
            <form method="post">
                {% csrf_token %}
                <div class="form-row mt-3">
                        <div class="form-group">
                            <label for="">Review Text</label>
                            {{ review_form.review_text }}
                        </div>
                        <div class="form-group">
                            <label for="">Rating</label>
                            {{ review_form.rating }}
                        </div>
                </div>   
                <button type="submit" class="btn btn-info btn-md">Submit Review</button>
            </form>
        </div>    

    {% endif %}

</div>

{% endblock %}