{% block content %}

<nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <strong>EV Database</strong>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item is-active is-size-5 has-text-weight-semibold">
              Home
            </a>
            <a href="{% url 'ev_list' %}" class="navbar-item is-active is-size-5 has-text-weight-semibold">
              EV List
            </a>
            <a href="{% url 'ev_compare' %}" class="navbar-item is-active is-size-5 has-text-weight-semibold">
              Compare EV
            </a>

            {% if user.is_authenticated %}
              <a href="{% url 'logout' %}" class="navbar-item is-active is-size-5 has-text-weight-semibold">
                Logout
              </a>  
            {% else %}
              <a href="{% url 'login' %}" class="navbar-item is-active is-size-5 has-text-weight-semibold">
                Login
              </a>  
            {% endif %}

          </div>
        </div>
      </div>
    </nav>
{% endblock %}