{% block content %}

<nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="../">
            <strong>Djangomania</strong>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
                <div class="control has-icons-left">
                  <input
                    class="input is-rounded"
                    name="query"
                    type="text"
                    placeholder="Search"
                  />
                  <span class="icon is-left">
                    <i class="fa fa-search"></i>
                  </span>
                </div>
            </div>
            <a href="/" class="navbar-item is-active is-size-5 has-text-weight-semibold">
              Home
            </a>
            <a class="navbar-item is-active is-size-5 has-text-weight-semibold">
              About
            </a>
          </div>
        </div>
      </div>
    </nav>
{% endblock %}